@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    background: rgb(0 100 0 / 0.05) !important; */
}

nav{
   
    background-color: rgb(181, 23, 216);
    color: white;
    height:65px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding:0 20px;
    font-family: 'Roboto', sans-serif;
    

}


nav ul{
    list-style-type: none;
   
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: Roboto, sans-serif;
    
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(180, 114, 242) !important;
    cursor: pointer;
}
.gameinfo{
    padding:0 34px;
}

.imgbox img{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}   
.bb-0{
    border-bottom: 0;
}